* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Nunito", sans-serif;
}

.navbar {
  border-bottom: 1px solid #fff;
}

.navbar-nav {
  padding: 0 15px;
}

.formSearch {
  display: flex;
  position: relative;
  text-align: center;
  height: 35px;
  transition: 0.3s ease;
  padding: 5px 8px;
  border: 1.1px solid #e8dfec;
  color: #464646;
  font-size: 14px;
  font-weight: 300;
  background: #fff;
  border-radius: 3px;
}

[type=search] {
  min-width: 800px;
  border: none;
}

.txtSearch:focus-visible {
  outline: none;
}

.boxIcon {
  position: absolute;
  right: 0;
  top: 1px;
  height: 32px;
  line-height: 35px;
  width: 65px;
  background: #05042c;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.boxIcon i {
  color: white;
}

.boxCart {
  padding: 0 30px 0 64px;
  position: relative;
}

.showCart {
  position: absolute;
  top: 0;
  right: 28px;
  transform: translate(50%, -50%);
  min-width: 20px;
  height: 20px;
  padding: 0 6px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  background: #ff4d4f;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff;
}

.backtotop {
  display: block;
  text-align: center;
  width: 50px;
  height: 45px;
  border-radius: 4px;
  background: #be9c79;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 0;
}

.backtotop .fa-solid {
  color: #fff;
  line-height: 45px;
  font-size: 22px;
}

.cd-top--is-visible {
  opacity: 0.7;
}

.navbar {
  border-bottom: 1px solid #fff;
}

.navbar-nav {
  padding: 0 15px;
}

.formSearch {
  display: flex;
  position: relative;
  text-align: center;
  height: 35px;
  transition: 0.3s ease;
  padding: 5px 8px;
  border: 1.1px solid #e8dfec;
  color: #464646;
  font-size: 14px;
  font-weight: 300;
  background: #fff;
  border-radius: 3px;
}

[type=search] {
  min-width: 800px;
  border: none;
}

.txtSearch:focus-visible {
  outline: none;
}

.boxIcon {
  position: absolute;
  right: 0;
  top: 1px;
  height: 32px;
  line-height: 35px;
  width: 65px;
  background: #05042c;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.boxIcon i {
  color: white;
}

.boxCart {
  padding: 0 30px 0 64px;
  position: relative;
}

.showCart {
  position: absolute;
  top: 0;
  right: 28px;
  transform: translate(50%, -50%);
  min-width: 20px;
  height: 20px;
  padding: 0 6px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  background: #ff4d4f;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff;
}

.nav-link {
  font-size: 16px;
  color: white;
}

.nav-link {
  font-size: 16px;
  color: white;
}

.slide {
  width: 100%;
  /* max-height: 1080px; */
  overflow: hidden;
}

.carousel-item img {
  height: 80%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  transform: translateY(80px);
}

.content-slider {
  position: absolute;
  bottom: 10%;
  color: #fff;
  left: 26%;
  text-align: center;
}

.carousel-item {
  height: 624px;
  overflow: hidden;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  transform: translateY(-37px);
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.content-slider {
  width: 100%;
}

.text-silder {
  font-size: 54px;
  font-weight: 500;
  margin: 0 0 16px;
  font-family: "Barlow", sans-serif;
  letter-spacing: 4px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.text-description {
  font-size: 16px;
  margin: 0 0 40px;
  /* font-family: 'Barlow', sans-serif; */
}

.btn-slider {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  background-color: #be9c79;
  padding: 12px 40px;
  border-radius: 8px;
  border: 1px solid #be9c79;
  transition: linear 0.3s;
}

.btn-slider:hover {
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  animation: linear;
  cursor: pointer;
}

.footer-distributed {
  background: #111;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #EBDACC;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #999999;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
.featured-product {
  padding: 20px 0;
}

.section-tittle {
  color: #EBDACC;
  font: normal 36px "Open Sans", cursive;
  padding: 32px 0;
}

.wrap-featured-product-cart {
  position: relative;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
}

.wrap-featured-product-cart:hover {
  cursor: pointer;
}

.featured-product-cart .product-img {
  width: 100%;
  overflow: hidden;
}

.featured-product-cart .product-img img {
  width: 100%;
}

.featured-product-cart .product-img:hover img {
  transform: scale(1.2) rotate(10deg);
  transition: ease-in 0.5s;
}

.cus-margin-top-bot-8px {
  margin: 8px 0;
}

.fa-basket-shopping {
  margin-left: 4px;
}

.wrap-featured-product-cart .add-to-cart:hover {
  background-color: #4fa3a5;
  color: #fff;
}

.product-name {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.product-origin,
.product-type,
.product-weight {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.wrap-featured-product-cart .old-price {
  font-size: 20px;
  text-decoration: line-through;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
}

.wrap-featured-product-cart .current-price {
  font-size: 24px;
  font-weight: bold;
  color: #fa5396;
  margin-left: 16px;
}

.discount {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 4px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #fa5396;
  border-radius: 4px;
  z-index: 1;
}

.discount::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -3px;
  left: 8px;
  transform: rotate(45deg);
  background-color: #fa5396;
}

.btnItem {
  display: flex;
  max-height: 42px;
}

.btnItem button {
  padding: 8px 0;
  color: white;
  border: 1px solid #ee4d2d;
}

.btnItem .add-to-cart {
  background-color: rgba(255, 87, 34, 0.1);
}

.modal-cart {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1055;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
}

.modal-cart-content {
  position: relative;
  background-color: #fefefe;
  margin-left: auto;
  padding: 44px 20px;
  bottom: 1px solid #d2d2d2;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close {
  position: absolute;
  top: 4px;
  right: 12px;
  font-size: 24px;
  line-height: 32px;
  opacity: 0.6;
}

.close:hover,
.close:focus {
  opacity: 1;
  cursor: pointer;
}

.modal-cart .wrap-cart-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-cart .img-empty-cart {
  width: 100%;
}

.modal-cart .img-empty-cart img {
  max-width: 100%;
  object-fit: cover;
}

.modal-cart .list-items {
  height: 70%;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-cart .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-cart .cart-content-bot {
  height: 30%;
}

.modal-cart .item-main {
  display: flex;
  align-items: center;
}

.modal-cart .item-img {
  width: 70px;
  height: 70px;
  margin-right: 8px;
}

.modal-cart .item-img img {
  width: 100%;
}

.modal-cart .item-info p {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.modal-cart .item-info p.item-info-name {
  text-transform: capitalize;
  font-weight: 500;
}

.modal-cart .item-info p.item-info-unit-price span {
  font-size: 16px;
  font-weight: 500;
}

.modal-cart .item-remove {
  margin-right: 8px;
}

.modal-cart .item-remove i {
  color: #fa5396;
  opacity: 0.6;
  cursor: pointer;
}

.modal-cart .item-remove:hover i {
  opacity: 1;
}

.modal-cart .sub-total {
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.modal-cart .sub-total p {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.modal-cart .sub-total p span {
  font-size: 24px;
  color: #fa5396;
}

.modal-cart .gr-button {
  margin: 20px 0;
}

.modal-cart .gr-button a {
  display: block;
}

.modal-cart .gr-button a:first-child {
  margin-bottom: 12px;
}

.show {
  display: block;
}

.modal-cart .gr-button a button {
  width: 100%;
  padding: 8px 0;
  border-radius: 8px;
}

.modal-cart .gr-button a:first-child button {
  border: 1px solid #4fa3a5;
  background-color: #4fa3a5;
  color: #fff;
  transition: linear 0.3s;
}

.modal-cart .gr-button a:first-child:hover button {
  background-color: #fff;
  color: #4fa3a5;
}

.modal-cart .gr-button a:last-child button,
.modal-cart .gr-button a:nth-child(2) button {
  border: 1px solid #fa5396;
  background-color: #fa5396;
  color: #fff;
  transition: linear 0.3s;
}

.modal-cart .gr-button a:last-child:hover button,
.modal-cart .gr-button a:nth-child(2):hover button {
  background-color: #fff;
  color: #fa5396;
}

.quantity-product-group {
  display: flex;
  align-items: center;
}

.minus-quantity-detail-product,
.plus-quantity-detail-product {
  width: 32px;
  height: 20px;
  background-color: #9150eb;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #9150eb;
}

.quantity-product-group i {
  display: block;
  line-height: 22px;
  color: white;
  font-size: 12px;
}

.minus-quantity-detail-product {
  border-right: none;
}

.plus-quantity-detail-product {
  border-left: none;
}

.minus-quantity-detail-product:hover,
.plus-quantity-detail-product:hover {
  background-color: #4fa3a5;
  color: #fff;
}

.quantity-product {
  height: 25px;
  width: 40px;
  text-align: center;
  border: 2px solid #4fa3a5;
  outline: none;
  margin: 0 5px;
}

.detail-product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.detail-product span {
  font-size: 20px;
  font-weight: 500;
  padding: 0 16px 0 0;
}/*# sourceMappingURL=main.css.map */